<section class="modal">
  <h1 mat-dialog-title>Viajante</h1>
  <div mat-dialog-content>
    <div class="selecao-idade">
      <ul>
        <li><strong>Adultos</strong></li>
        <li>(Acima de 12 anos)</li>
        <li>
          <app-button-control operation="decrement"></app-button-control>
          <span>1</span>
          <app-button-control operation="increment"></app-button-control>
        </li>
      </ul>
      <ul>
        <li><strong>Crianças</strong></li>
        <li>(Entre 2 e 11 anos)</li>
        <li>
          <app-button-control operation="decrement"></app-button-control>
          <span>1</span>
          <app-button-control operation="increment"></app-button-control>
        </li>
      </ul>
      <ul>
        <li><strong>Bebês</strong></li>
        <li>(Até 2 anos)</li>
        <li>
          <app-button-control operation="decrement"></app-button-control>
          <span>1</span>
          <app-button-control operation="increment"></app-button-control>
        </li>
      </ul>
      <div>
        <h3>Categoria</h3>
        <mat-chip-listbox  aria-label="Seleção de categoria">
          <mat-chip-option selected>Econômica</mat-chip-option>
          <mat-chip-option>Executiva</mat-chip-option>
        </mat-chip-listbox>
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancelar</button>
    <button mat-button mat-dialog-close>Aplicar</button>
  </div>
</section>
