.form-container {
  margin: 40px 0;
  display: block;
  .form-content {
    display: flex;
    align-items: center;
    gap: 12px;
    margin: 16px 0;
  }
  .input-content {
    margin-bottom: -1.25em;
  }
  .mat-button-toggle-checked {
    background-color: #F7F2FA;
  }
  h2 {
    font-size: 32px;
    margin-bottom: 20px;
  }
}
